@import "../../../styles/variables.scss";

.about {
  &__container {
    margin: 92px;
    margin-top: 10px;
  }
  &__title-imported{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 2rem;
    & img {
      width: 100%;
    }
  }
  &__wrapper {
    margin: 0.4rem;
    text-align: center;
  }

  &__title {
    font-family: "Bebas Neue", cursive;
    margin: 0px;
    padding: 0;
  }

  &__text {
    font-size: 16px;
    margin: 20px 30px 0px 0px;
    @media (max-width: $breakpoint-tablet) {
      font-size: 13px;
    }
  }
}
