.members {
	&__container {
		padding: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	&__cardsContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__card {
		margin: 10px;
		padding: 5px;
		width: 200px;
		border: 1px solid black;

		& img {
			width: 100%;
			height: 200px;
			object-fit: cover;
		}

		& .links {
			margin-top: auto;
			& a {
				color: rgb(35, 35, 177);
				text-decoration: none;
				font-weight: bold;
				margin: 5px;
			}
		}
	}
	&__content {
		height: calc(100% - 200px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__description {
		& > * {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
