@import "../variables.scss";

// --------------------------------------------------

.form {
	&__container {
		background-color: $bg-primary-color;
		border: 1px solid $primary-color;
		margin: auto;
		display: flex;
		flex-direction: column;
		padding: 30px;
		position: relative;
	}

	&__input {
		border: none;
		border-bottom: 1px solid $secondary-color;
		padding: 0 5px;
		height: 40px;
		outline: none;
		font-family: inherit;
		font-size: inherit;
	}

	&__textarea {
		border: 1px solid $secondary-color;
		padding: 0 5px;
		height: 100px;
		outline: none;
		font-family: inherit;
		font-size: inherit;
	}

	&__select {
		border: none;
		border-bottom: 1px solid $secondary-color;
		padding: 0 5px;
		height: 40px;
		outline: none;
		background-color: $bg-primary-color;
		font-family: inherit;
		font-size: inherit;
		color: $secondary-color;
	}

	&__message {
		text-align: center;
		align-self: center;
		&::before {
			content: "\A0";
			display: inline-block;
		}
		&-validation {
			@extend .form__message;
			color: $error-color;
			margin-top: 5px;
			margin-bottom: 10px;
		}
		&-success {
			@extend .form__message;
			color: $success-color;
			margin: 5px;
			margin-top: 20px;
		}
		&-fail {
			@extend .form__message;
			color: $error-color;
			margin: 5px;
			margin-top: 20px;
		}
	}

	&__btn {
		width: min-content;
		padding: 0 20px;
		height: 40px;
		border: none;
		font-family: "Open Sans", sans-serif;
		font-weight: bold;
		cursor: pointer;

		&-primary {
			@extend .form__btn;
			background-color: $primary-color;
			color: white;
			box-shadow: 10px 10px 0px 0px $accent-color;
			-webkit-box-shadow: 10px 10px 0px 0px $accent-color;
			-moz-box-shadow: 10px 10px 0px 0px $accent-color;
			transition: all 0.2s;
			&:hover {
				transform: scale(1.02);
			}
			&:active {
				transform: scale(1);
				box-shadow: 8px 8px 0px 0px $accent-color;
				-webkit-box-shadow: 8px 8px 0px 0px $accent-color;
				-moz-box-shadow: 8px 8px 0px 0px $accent-color;
			}
			&:disabled {
				opacity: 0.5;
			}
		}

		&-secondary {
			@extend .form__btn;
			background-color: $primary-color;
			color: white;

			transition: all 0.2s;
			&:hover {
				transform: scale(1.02);
			}
			&:active {
				transform: scale(1);
			}
			&:disabled {
				opacity: 0.5;
			}
		}

		&-tertiary {
			@extend .form__btn;
			background-color: $bg-secondary-color;
			border: 1px solid $primary-color;
			&:hover {
				transform: scale(1.02);
			}
			&:active {
				transform: scale(1);
			}
		}
	}

	&__image-input {
		display: none;
	}

	&__image-container {
		height: 200px;
		position: relative;
		border: 1px solid $secondary-color;
		cursor: pointer;
		& > img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			max-height: 90%;
			max-width: 100%;
			transition: all 0.2s;
		}
	}
}

// ckeditor variables
:root {
	--ck-color-base-border: $secondary-color;
	--ck-color-focus-border: black;
}
