@import "../variables.scss";

.news-list {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 767px;
  width: 100%;

  &__create-btn {
    border: 2px solid $primary-color;
    text-decoration: none;
    color: $primary-color;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      color: $bg-primary-color;
      background-color: black;
      transition: background-color 0.2s ease-in-out;
    }
  }
}

.list {
  max-width: 767px;
  width: 100%;
  list-style-type: none;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  gap: 10px;
  &__item {
    border: 1px solid black;
  }
}
.item {
  border: 1px solid black;

  &__title {
    margin: 0px;
  }
  &__datetime {
    opacity: 0.4;
  }

  &__group {
    padding: 20px;
  }
  &__image {
    max-width: 100%;
    margin-left: auto;
  }
  &__remove-btn {
    border: 2px solid $error-color;
    color: $error-color;
    background-color: transparent;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      color: $bg-primary-color;
      background-color: $error-color;
      transition: background-color 0.2s ease-in-out;
    }
  }

  &__edit-link {
    text-decoration: none;
    margin-right: 10px;
    border-radius: 0px;
    border: 2px solid #0d6efd;
    color: #0d6efd;
    background-color: transparent;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      color: $bg-primary-color;
      background-color: #0d6efd;
      transition: background-color 0.2s ease-in-out;
    }
  }
}
