.organizationData {
	&__card {
		border: 1px solid black;
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__logo {
		height: 300px;
	}

	.card:hover {
		box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
	}

	.content {
		padding: 15px;
		text-align: center;
	}

	.content-description {
		line-height: 1.5;
		color: #6a6a6a;
	}

	.content-title {
		font-weight: 600;
		margin-bottom: 15px;
	}

	.content-button {
		margin-top: 30px;
		color: #0a5c6b;
		border: 1px solid #0a5c6b;
		padding: 10px;
		border-radius: 4px;
		transition: all 400ms ease;
		font-weight: 700;
	}
	.content-button:hover {
		background: #0a5c6b;
		color: #fff;
		cursor: pointer;
	}

	.spinner h6 {
		font-size: 30px;
	}

	figure img {
		width: 100%;
		object-fit: cover;
	}
}
