@import "../../styles/variables.scss";

.dashboardCard {
	&__container {
		text-decoration: none;
		color: black;
		background-color: white;
		width: 250px;
		border: 1px solid black;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		margin: 15px;
		transition: all 0.2s;

		& i {
			font-size: 80px;
			color: gray;
			font-weight: lighter;
		}

		&:hover {
			box-shadow: 10px 10px 0px 0px $accent-color;
			color: black;
		}
	}
}
