.form{
  &__user{
    display: block;
    margin:  5rem auto;
    width: 70%;
  }
}



#termsConditions{
  padding-bottom: 50px;
  margin-bottom: 50px;
}

canvas.react-pdf__Page__canvas, .react-pdf__message div {
  margin: auto ;
}
