.form {
	&__user {
		display: block;
		margin: 5rem auto;
		width: 70%;
	}
}

.userForm__document {
	background-color: #eee;
	border: 1px solid black;
	height: 790px;
	width: 505px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
