.notFound {
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 85vh;
		flex-direction: column;
		font-size: 2em;
	}

	&__icon {
		margin: 1rem;
	}

	&__link {
		margin: 2rem;
		font-size: 0.8em;
		text-decoration: none;
	}
}
