@import "./variables.scss";
@import "./components//formStyles.scss";
@import "./components/tableStyles.scss";
@import "./components/mediaTables.scss";
@import "./components/footerStyles.scss";
@import "./components/mapStyles.scss";
@import "./components/backofficeNavStyles.scss";
@import "./components/schoolCampaignStyles.scss";
@import "./components/textsStyles.scss";
