$primary-color: black;
$secondary-color: #666;
$accent-color: #dc817e;
$error-color: red;
$success-color: green;

$bg-primary-color: white;
$bg-secondary-color: #eeeeee;

$breakpoint-desktop: 1600px;
$breakpoint-notebook: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 410px;
$breakpoint-laptop: 1023px;
$breakpoint-lg-laptop: 1280px;
$breakpoint-tv: 1416px;
$breakpoint-lg-tv: 2000px;
