.layoutPublic__temp-header {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(219, 219, 219);
}

.layoutPublic__main {
	min-height: calc(100vh - 29vh - 100px); //visible height - footer - header
	margin-bottom: 50px;

	& section {
		padding: 30px 5%;
	}
}
