.slide {
	&__home {
		display: flex;
		flex-direction: column;
		position: relative;
		justify-content: center;
		height: 550px;
		margin: 0 10px;
	}
	&__image {
		height: 550px;
		object-fit: cover;
	}

	&__text {
		position: absolute;
		bottom: 0;
		background-color: rgba(255, 255, 255, 0.8);

		width: 100%;
		text-align: center;
		margin: 0;
	}
}

.slide__center {
	height: 100%;
}
