@import "../../../styles/variables.scss";

.donate__button {
	width: 6rem;
	margin-right: 2rem;
	padding: 0.2rem;
	border: none;
	border-radius: 3px;
	background-color: transparent;
	height: 2.4rem;
}

.donate__button:hover {
	background: $accent-color;
	transition: 0.2s;
	color: #fff;
}
.fas.fa-donate {
	margin: 0.2rem;
}
