@import "../../styles/variables.scss";

.contact__container {
	margin: 80px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: left;

	@media screen and (min-width: $breakpoint-notebook) {
		flex-direction: row;
		justify-content: space-evenly;
	}
	.container__flex {
		& > div {
			& > h1 {
				text-align: center;
				@media screen and (min-width: $breakpoint-notebook) {
					text-align: left;
				}
			}
		}
		.contact__list {
			list-style: none;
			padding: 0;

			.list__item {
				border: none;
				display: flex;
				align-items: center;
				gap: 10px;
				i {
					width: 18px;
				}
			}
		}
	}
}
