@import "../../styles/variables.scss";

.header {
  &__container {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__logo {
    height: 110px;
    width: 160px;
    object-fit: cover;
    margin-right: 20px;
  }

  &__navbar {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 100%;
    margin-bottom: 0;
    padding: 0;
    @media screen and (min-width: 1020px) {
      flex-direction: row;
      width: 50%;
    }
  }

  &__link {
    color: black;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;

    &:active {
      color: black;
    }
    &.active {
      position: relative;
      margin-right: 10px;
      @media screen and (min-width: 1020px) {
        margin-right: 0;
      }

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 10px;
        top: 50%;
        right: -10px;
        z-index: -1;
        background-color: $accent-color;
      }
    }
    &::after {
      content: "";
      transition: all 0.2s;
      width: 0;
    }
    &:hover {
      color: black;
      position: relative;
      margin-right: 10px;
      @media screen and (min-width: 1020px) {
        margin-right: 0;
      }

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 10px;
        top: 50%;
        right: -10px;
        z-index: -1;
        background-color: $accent-color;
      }
    }
  }

  &__btnContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (min-width: 1020px) {
      flex-direction: row;
    }

    & button {
      min-width: 140px;
    }
    & a {
      margin-top: 10px;
      @media screen and (min-width: 1020px) {
        margin-top: 0;
      }
    }
    & a:first-child {
      @media screen and (min-width: 1020px) {
        margin-right: 50px;
      }
      @media screen and (min-width: 1100px) {
        margin-right: 100px;
      }
    }
  }

  &__menuBtn {
    min-width: 160px;
    @media screen and (min-width: 1020px) {
      display: none;
    }
  }

  &__menuPanel {
    background-color: white;
    z-index: 1;
    position: absolute;
    border: 1px solid black;
    top: 90px;
    right: 20px;
    padding: 10px;
    flex-direction: column;
    height: 300px;
    visibility: hidden;
    transition: all 0.2s;
    opacity: 0;
    display: flex;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    @media screen and (min-width: 1020px) {
      opacity: 1;
      visibility: visible;
      position: relative;
      flex-direction: row;
      height: auto;
      width: 90%;
      border: none;
      justify-content: space-between;
      align-items: center;
      top: 0;
    }
  }
}
