@import "../../styles//variables.scss";

.membersList {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	&__card {
		border: 1px solid black;
		margin: 20px 0;
		padding: 5px;
		transition: all 0.2s;
		max-width: 600px;
		display: flex;
		flex-direction: column;
		&:hover {
			box-shadow: 8px 8px 0px 0px $accent-color;
			-webkit-box-shadow: 8px 8px 0px 0px $accent-color;
			-moz-box-shadow: 8px 8px 0px 0px $accent-color;
		}
		@media screen and (min-width: 769px) {
			flex-direction: row;
		}
	}

	&__title {
		text-decoration: none;
		color: black;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30px;
		font-family: "Bebas Neue", cursive;
	}

	&__image {
		width: 300px;
		height: 200px;
		object-fit: cover;
		margin-bottom: 10px;
		@media screen and (min-width: 769px) {
			width: 370px;
			margin-bottom: 0;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: hidden;
		& div {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		@media screen and (min-width: 769px) {
			margin-left: 10px;
		}
	}

	&__btn-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 10px;

		& :first-child {
			margin-right: 5px;
		}

		@media screen and (min-width: 769px) {
			margin-top: 0;
		}
	}
}
