.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  @media screen and (max-width: 1300px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 650px) {
    grid-template-columns: 1fr;
  }
}






