@import "../../styles//variables.scss";

.toys__container {
	.slick {
		&-slider {
			height: 35vh;
			width: 90vw;
			@media screen and (min-width: $breakpoint-tv) {
				height: 50vh;
			}
		}
	}
	q {
		display: block;
		text-align: center;
		font-weight: bolder;
		background-color: rgb(243, 243, 243);
		padding: 10px 0;
	}
	.slide {
		&__image {
			height: 25vh;
			width: 55vh;
			object-fit: cover;
			margin: auto;
			@media screen and (min-width: $breakpoint-tv) {
				width: 55vw;
				height: 46vh;
			}
			&__quote {
				display: block;
			}
		}
	}
}
