@import "../../styles//variables.scss";

.toys {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    position: relative;

    & > img {
      position: absolute;
      width: 90%;
      height: 18vw;
      object-fit: cover;
      bottom: 0;
      opacity: 0.3;
      object-position: top;
      z-index: -1;
    }
  }

  &__title {
    margin: 10px 0;
    font-family: "Bebas Neue", cursive;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 40px;
    &-images {
      margin-top: 10px;
      display: flex;
      justify-content: space-evenly;
      opacity: 0.8;
      width: 100%;

      & > img {
        width: 30px;
      }
    }
    & > div {
      padding: 0;
      height: 30px;
      line-height: 35px;
      white-space: nowrap;
    }
  }

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 30px;
    margin-bottom: 10vw;
    text-align: center;
  }

  &__counter {
    display: none;
    font-weight: 900;
  }

  &__images-container {
    background-color: white;
    display: none;
    border-radius: 9999px;
    box-shadow: 4px 4px 20px -15px rgba(0, 0, 0, 0.75);
    position: relative;
    height: 300px;
    width: 300px;

    & > img {
      position: absolute;
      height: 250px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__waves-red {
    transform: rotate(180deg) scaleX(-1);
  }

  &__waves-blue {
    transform: scaleX(-1);
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .toys {
    &__counter {
      display: block;
    }
    &__title {
      &-images {
        margin-top: 0;
      }
    }
    &__images-container {
      display: block;
    }

    &__title {
      flex-direction: row;
    }
  }
}

@media screen and (min-width: 1921px) {
  .toys__container {
    background-color: rgba(218, 218, 218, 0.397);
  }
}
