.layoutBackoffice {
  &__container {
    background-color: #eee;
  }
  &__main {
    min-height: calc(100vh - 29vh - 100px); //visible height - footer - header
    margin-bottom: 50px;

    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
