.w-18r{
  width: 18rem;
}
.width-50{
  width: 50%;
}
.txt-center{
  text-align: center;
}
.my-1r{
  margin: 1rem 0;
}
.m-auto{
  margin: auto;

}
.d-rtl{
  direction: rtl ;

}
.flex{
  display: flex;
}
.align-center{
  align-items: center;
}
