// MARGINS

.my-1r {
  margin: 1rem 0;
}
.my-10px {
  margin-top: 16px;
  margin-bottom: 16px;
}
.m-auto {
  margin: auto;
}
.m-40px {
  margin: 40px;
}

// WIDTH
.w-18r {
  width: 18rem;
}
.width-50 {
  width: 50%;
}

// PADDINGS

.p-6px {
  padding: 6px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

//TEXT
.txt-center {
  text-align: center;
}
.d-rtl {
  direction: rtl;
}

// FLEX

.gap-20px {
  gap: 20px;
}
.flex{
  display: flex;
}

.flex-column-center{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.align-center{
  align-items: center;
}

.justify-around{
  justify-content: space-around;
}
